<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Категории студента</title>
</head>
<body>
  <header>
    <div class="content_header">
      <h1>Талон</h1>
        <button>Выход</button>
    </div>
	</header>
  <div class="container">
    <div class="side-bar">
      <ul class="container_side-bar">
        <li><a href="/groups"><span style="color: #3c8bff; margin-left: -15px; position: absolute;">></span>Группы</a></li>
        <li><a href="/category">Категории</a></li>
        <li><a href="/benefits">Льготы</a></li>
        <li><a href="/users">Пользователи</a></li>
        <li><a href="/report">Отчет</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="container_table">
        <table id="table_for_all">
          <thead>
            <tr>
              <th>Название категории</th>
              <th>Дата начала действия категории у студента</th>
              <th>Дата окончания действия категории у студента</th>
            </tr>
          </thead>
          <tbody>
            {{#each student_category}}
              <tr id="{{this.id_category}}">
                <td>{{this.name_cat}}</td>
                <td>{{this.data_begin}}</td>
                <td>{{this.data_end}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="menu_for_add_delete_edit">
        <button onclick="Delete_student_category(event)" id="delete_btn" data-id_student="{{student}}">Удалить</button>
        <button onclick="Edit_student_category(event)" id="edit_btn" data-id_student="{{student}}">Изменить</button>
        <button onclick="document.location.href = '/form_add_student_category?id_student={{student}}'">Добавить</button>
        <button id="view_btn" style="display:none;">Просмотреть</button>
      </div>
    </div>
  </div>
  <script src="../scripts/js/create_table.js"></script>
</body>
</html>